cache/
plugins/backupwordpress/
plugins/rustolat/
plugins/contact-form-7/
plugins/index.php
plugins/wordpress-seo/
plugins/wp-fastest-cache/
plugins/edit-author-slug/
plugins/lazy-load-for-videos/
plugins/my-smtp-wp/
plugins/lazy-load-xt/
plugins/democracy-poll/
plugins/quiz-master-next/

themes/twentyfifteen/

uploads/
languages/
themes/index.php
index.php
wflogs/
wfcache/
*-backups/
*.swp
